* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: black;
}
.stocks-search {
  display: grid;
  grid-template-columns: 90% 10%;
  width: 80%;
  margin: 1rem auto;
}

.row {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 1rem;
}
.align-left {
  text-align: left;
}

.stock-details {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Autocomplete start*/
.autocomplete input[type="text"] {
  min-width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border-radius: none;
  border: 1px solid black;
  float: left;
}
.autocomplete .input-btn-wrapper {
  display: grid;
  grid-template-columns: 90% 10%;
}
.autocomplete button {
  border-radius: 0;
  width: 3rem;
  background-color: #009dcf;
  color: white;
  border: 1px solid black;
  border-left: none;
  float: left;
}
.autocomplete button:hover {
  background-color: #039dae;
}
.autocomplete-field {
  min-width: 100px;
  width: 100%;
  text-align: left;
  padding: 0 0.5rem;
}
.autocomplete-field ul {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: scroll;
}
.autocomplete-field ul li {
  list-style-type: none;
  padding: 0.5rem 0.25rem;
  cursor: pointer;
}
.autocomplete-field ul li:hover {
  background-color: #039dae;
}

.visually-hidden {
  visibility: hidden;
}

.active {
  background-color: #009dcf;
  color: white;
}
